<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lincoln library</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
 
<nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid">   
        <img src="../static/image/Picture1.png" width="300px" height="100px">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/add">Add new</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<form action="/records"></form>
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Sign-in</th>
        <th>Sign-out</th>

    </tr>

    {% for users in user %}
    <tr>
    <td>{{users.name}}</td>

    <td>{{users.email}}</td>

    <td>{{users.phonenumber}}</td>

    <td>{{users.date1}}</td>

    <td>{{users.date2}}</td>

    <td><a class ="func" href="/details/{{users.ID}}">Details</a></td>
    <td><a class ="func" href="/edit/{{users.ID}}">Edit</a></td>
    <td><a class="func" href="/delete/{{users.ID}}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
        
</body>
</html>


