@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

body {
    background-image: url('../image/bg.jpg');
    background-size: 100%;
}


.navbar {
padding: .8rem;
}
.navbar-nav{
padding-right: 20px;
}
.nav-link{
font-size: 1.6rem !important;
font-weight: bold;
color: red;
}
.nav-item{
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: brown;
    font-size: 65px;
    font-weight: bold;
}

h2 {
    color: white;
    font-size: 40px;
}

button {
    background-color: white;
}

.btn {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}